body {
    background-color: #666e75;
}

h1 {
    color: #e9d3b6;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

td,
p {
    color: #e9d3b6;
    font-family: 'Playfair Display', serif;
}